<div class="container">
  <div class="jumbotron">
    <h1>Table List</h1>
    <ul>
      <% _.each(tables, function (table) { %>
        <li>[<%= table.id %>] <%= table.RestaurantName %>, <%= table.TableName %>, <%= table.Status %></li>
      <% }) %>
  </ul>
  </div>
</div>
