h1 管理员
.row.text-center
  h2 为『{{currentRestaurant}}』指派管理员
.row.text-center
  .btn-group
    button.btn.btn-lg(type="button") Admin1
    button.btn.btn-lg(type="button") Admin2
    button.btn.btn-default.btn-lg(type="button") +Admin
.row
  h2
.row.text-center
  button.btn.btn-danger(rcs-go-back)