h1 管理餐厅 <b>{{restaurantName}}</b>
.row.text-center
  h2 指派管理员

.row(ng-if="admins.length > 0")
  h2
  .col-lg-4.col-lg-offset-4.col-xs-8.col-xs-offset-2
    .row
      label 当前管理员
    .row
      .col-xs-3(ng-repeat="admin in admins")
        material-button.customized-icon.material-button-fab.material-button-raised(ng-click="removeAdmin(admin)")
          sapn.glyphicon.glyphicon-user.font-size-lg
        span {{admin}}
        h4

form(ng-submit="addAdmin(newAdmin)")
  .row
    h2
    .col-lg-4.col-lg-offset-4.col-xs-8.col-xs-offset-2
      .row
        label 添加管理员
      .row
        .col-sm-9.col-xs-8
          .material-input-group.material-input-group-theme-red
            input.full-width(id="0" type="text" ng-model="newAdmin" ng-required="true" placeholder="请输入用户邮箱")
        .col-sm-3.col-xs-4
          input.material-button.material-button-raised.material-theme-red.full-width(type="submit" id="submit" value="添加")

.row
  h2
.row
  .col-lg-2.col-lg-offset-5.col-xs-4.col-xs-offset-4
    button.material-button.material-button-raised.full-width(rcs-go-back)