material-dialog(id="dialog-confirmPayment")
  .dialog-content.height-md
    h4 确认餐桌 <b>{{request.Table.TableName}}</b> 已<b>完成支付</b>
    h4(ng-show="totalPrice==0") 该桌未点餐
    h4(ng-show="totalPrice!=0") 该桌应支付 <b>{{totalPrice}}</b> 元

    material-list(ng-show="totalPrice!=0")
      material-item.list-header
        .material-tile-left
          b 类型
        .material-tile-content
          b 菜品
        .material-tile-right
          b 数量
      material-item(ng-repeat="orderItem in orderItems | orderBy:['type'] track by $index")
        .material-tile-left
          | {{orderItem.type}}
        .material-tile-content
          h2 {{orderItem.name}}
          h3 {{orderItem.price}}元
        .material-tile-right
          | x{{orderItem.count}}

  .dialog-actions(layout="horizontal")
    material-button.material-button-raised.material-theme-light(
      ng-if="allowAction == true"
      ng-disabled="justClick == true"
      flex="80" ng-click="clickConfirmPayment()")
      span(ng-show="justClick == false") 已付款，关闭请求
      span(ng-show="justClick == true") 正在处理&nbsp;
        i.fa.fa-spin.fa-spinner
    material-button.material-button-colored(
      flex="20" ng-click="clickCancel()")
      span(ng-if="allowAction == true") 取消
      span(ng-if="allowAction == false") 关闭