material-dialog(id="dialog-viewRequestOrder")
  .dialog-content.height-md
    h4 餐桌 <b>{{request.Table.TableName}}</b> 提交点菜

    material-list
      material-item.list-header
        .material-tile-left
          b 类型
        .material-tile-content
          b 菜品
        .material-tile-right
          b 数量
      material-item(ng-repeat="orderItem in orderItems | orderBy:['type'] track by $index")
        .material-tile-left
          | {{orderItem.type}}
        .material-tile-content
          h2 {{orderItem.name}}
          h3 {{orderItem.price}}元
        .material-tile-right
          | x{{orderItem.count}}

  .dialog-actions(layout="horizontal")
    material-button.material-button-raised.material-theme-light(
      ng-if="allowAction == true"
      flex="80" ng-click="clickConfirmOrder()") 已下单, 关闭请求
    material-button.material-button-colored(
      flex="20" ng-click="clickCancel()")
      span(ng-if="allowAction == true") 取消
      span(ng-if="allowAction == false") 关闭