material-dialog.width-md(id="dialog-request-confirmPay")
  .dialog-content.height-md
    h4 确认餐桌 <b>{{request.Table.TableName}}</b> 已完成支付
    .row
      .col-xs-10.col-xs-offset-1
        sapn 该桌应支付 <b>{{totalPrice}}</b> 元
        material-list(ng-show="totalPrice!=0")
          material-item.list-header
            .material-tile-left
              b 类型
            .material-tile-content
              b 菜品
            .material-tile-right
              b 数量
          material-item(ng-repeat="orderItem in orderItems | orderBy:['type'] track by $index")
            .material-tile-left
              | {{orderItem.type}}
            .material-tile-content
              h2 {{orderItem.name}}
              h3 {{orderItem.price}}元
            .material-tile-right
              | {{orderItem.count}}
  .dialog-actions(layout="horizontal" layout-align="end")
    material-button.customized.material-button-raised.material-theme-red.full-width(ng-click="confirmPayment()") 已付款，关闭请求