h1 管理餐厅<b>{{restaurantName}}</b>
.row.text-center
  h2 管理餐桌请求

.row
  .col-xs-8.bg-default
    include partials/toolbar
    include partials/tableMap
  .col-xs-4
    include partials/requestList