h1 管理餐厅 <b>{{restaurantName}}</b>
.row
  .col-xs-1.text-left
    .btn-group(dropdown is-open="status.isOpen")
      a.dropdown-toggle.font-size-lg(href="" type="button" ng-disabled="disabled")
        span.glyphicon.glyphicon-cog.color-darkred
      ul.dropdown-menu(role="menu")
        li
          a.font-size-md(rcs-edit-table href="")
            span.glyphicon.glyphicon-pencil &nbsp;{{rcsToggleEdit.text}}
        li
          a.font-size-md(rcs-edit-menu restaurant-id="{{restaurantId}}" href="")
            span.glyphicon.glyphicon-list-alt &nbsp;编辑菜单
        li.divider
        li(ng-if="'hasOtherRest'=='hasOtherRest'")
          a.font-size-md(href="" rcs-go-restaurant)
            span.glyphicon.glyphicon-circle-arrow-left &nbsp;返回餐厅选择
        li
          a.font-size-md(href="" rcs-logout)
            span.glyphicon.glyphicon-off &nbsp;退出登录
  .col-xs-10.text-center
    | to be added 图例
.row
  .col-xs-8.bg-default
    include partials/tableMap
  .col-xs-4
    include partials/requestList