doctype html
html(id="rcs" ng-app="rcs")
  head
    title= title

    // Viewport mobile tag for sensible mobile support
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")

    //- link(rel='stylesheet' href='/styles/angular-material/material-design.css')
    link(rel='stylesheet' href='/styles/angular-material/angular-material.css')
    link(rel='stylesheet' href='/styles/jquery-ui/jquery-ui.css')
    //- link(rel='stylesheet' href='/styles/iCheck/red.css')
    link(rel='stylesheet' href='/styles/bootstrap/bootstrap-theme.css')
    link(rel='stylesheet' href='/styles/bootstrap/bootstrap.css')
    link(rel='stylesheet' href='/styles/font-awesome/font-awesome.css')

    link(rel='stylesheet' href='/styles/client/rcs.css')
    link(rel='stylesheet' href='/styles/client/page.css')
    link(rel='stylesheet' href='/styles/client/page-signin.css')
    link(rel='stylesheet' href='/styles/client/page-restaurant-list.css')
    link(rel='stylesheet' href='/styles/client/page-restaurant-new.css')
    link(rel='stylesheet' href='/styles/client/page-management-monitor.css')
    link(rel='stylesheet' href='/styles/client/page-management-authorMenu.css')
    link(rel='stylesheet' href='/styles/client/page-management-arrangeWaiter.css')
    link(rel='stylesheet' href='/styles/client/page-management-assignAdmin.css')
    link(rel='stylesheet' href='/styles/client/dialogs.css')
    //- link(rel='stylesheet' href='/styles/client/client.css')
    //- link(rel='stylesheet' href='/styles/client/customizedMaterial.css')
    //- link(rel='stylesheet' href='/styles/client/rcsTable.css')
    //- link(rel='stylesheet' href='/styles/client/rcsRequest.css')
    //- link(rel='stylesheet' href='/styles/client/modalViewTable.css')
    //- link(rel='stylesheet' href='/styles/client/tableMap.css')
  body(layout="horizontal")
    div(ui-view layout="horizontal" layout-fill)

    //- dependency
    script(src='/js/dependencies/jquery/jquery.js')
    script(src='/js/dependencies/jquery-ui/jquery-ui.js')
    script(src='/js/dependencies/bootstrap/bootstrap.js')
    script(src='/js/dependencies/q/q.js')
    script(src='/js/dependencies/angular/angular.js')
    script(src='/js/dependencies/angular/i18n/angular-locale_zh-cn.js')
    script(src='/js/dependencies/angular-ui-router/angular-ui-router.js')
    script(src='/js/dependencies/angular-ui-router.stateHelper/statehelper.js')
    //- script(src='/js/dependencies/angular-ui-date/date.js')
    script(src='/js/dependencies/angular-bootstrap/ui-bootstrap-tpls.js')
    //- script(src='/js/dependencies/iCheck/icheck.js')
    script(src='/js/dependencies/angular-material/angular-animate.js')
    //- script(src='/js/dependencies/angular-material/angular-animate-sequence.js')
    //- script(src='/js/dependencies/angular-material/angular-animate-stylers.js')
    //- script(src='/js/dependencies/angular-material/material-design.js')
    script(src='/js/dependencies/angular-material/angular-material.js')
    script(src='/js/dependencies/socket.io.js')
    script(src='/js/dependencies/sails.io.js')
    script(src='/js/dependencies/datetimeFormat.js')
    script(src='/js/dependencies/stringFormat.js')

    //- client
    script(src='/js/client/client.js')
    script(src='/js/client/controllers.js')
    script(src='/js/client/directives.js')
    script(src='/js/client/services.js')
    script(src='/js/client/filters.js')
    script(src='/js/client/constant.js')
    //- script(src='/js/client/controllers/adminCtrl.js')
    //- script(src='/js/client/controllers/headerCtrl.js')
    //- script(src='/js/client/controllers/homeCtrl.js')
    //- script(src='/js/client/controllers/loginCtrl.js')
    //- script(src='/js/client/controllers/menuCtrl.js')
    //- script(src='/js/client/controllers/modalDeleteCtrl.js')
    //- script(src='/js/client/controllers/modalNewTableCtrl.js')
    //- script(src='/js/client/controllers/modalRequestCtrl.js')
    //- script(src='/js/client/controllers/modalViewTableCtrl.js')
    //- script(src='/js/client/controllers/newRestaurantCtrl.js')
    //- script(src='/js/client/controllers/requestListCtrl.js')
    //- script(src='/js/client/controllers/restaurantCtrl.js')
    //- script(src='/js/client/controllers/signupCtrl.js')
    //- script(src='/js/client/controllers/tableMapCtrl.js')
    //- script(src='/js/client/directives/rcsAutofocus.js')
    //- script(src='/js/client/directives/rcsEditMenu.js')
    //- script(src='/js/client/directives/rcsEditTable.js')
    //- script(src='/js/client/directives/rcsGoAdmin.js')
    //- script(src='/js/client/directives/rcsGoBack.js')
    //- script(src='/js/client/directives/rcsGoHome.js')
    //- script(src='/js/client/directives/rcsGoNewRestaurant.js')
    //- script(src='/js/client/directives/rcsGoRestaurant.js')
    //- script(src='/js/client/directives/rcsLogout.js')
    //- script(src='/js/client/directives/rcsRadio.js')
    //- script(src='/js/client/directives/rcsRequest.js')
    //- script(src='/js/client/directives/rcsTable.js')
    //- script(src='/js/client/directives/testDiv.js')
    //- script(src='/js/client/service/rcsAPI.js')
    //- script(src='/js/client/service/rcsAuth.js')
    //- script(src='/js/client/service/rcsData.js')
    //- script(src='/js/client/service/rcsSocket.js')
    //- script(src='/js/client/service/sessionService.js')