h1 登录
.row.text-center
  h2 请登录餐厅管理系统

form(ng-submit="login(credentials)")
  .row.text-center
    .col-lg-4.col-lg-offset-4.col-xs-8.col-xs-offset-2
      input.form-control(type="text" ng-model="credentials.email" ng-required="true" placeholder="请输入用户邮箱")
  .row.text-center
    .col-lg-4.col-lg-offset-4.col-xs-8.col-xs-offset-2
      input.form-control(type="password" ng-model="credentials.password" ng-required="true" placeholder="请输入密码")
  .row.text-center
    h2
    input.btn.btn-danger(type="submit" id="submit" value="登录")
.row.text-center
  h2
  a(href="#/") 注册新用户
//- form(name='loginForm', ng-submit='login(credentials)', novalidate='')
//-   label(for='username') Username:
//-   input#username(type='text', ng-model='credentials.username')
//-   label(for='password') Password:
//-   input#password(type='password', ng-model='credentials.password')
//-   button(type='submit') Login
//- {{role}}
//- button(ng-click='checkRole()') Check Role