.modal-header
  h3.modal-title(ng-if="title")
   | {{title}}
.modal-body(ng-if="content")
  | {{content}}
.modal-footer
  .row
    .col-xs-6
      button.material-button.material-button-raised.material-theme-red.full-width(ng-click="confirm()") 确认移除
    .col-xs-6
      button.material-button.material-button-raised.full-width(ng-click="cancel()") 取消
