.modal-header
  h3.modal-title 新建餐桌 位置: [{{row+1}},{{col+1}}]

form(ng-submit="create(data.tableName, data.tableType)")
  .modal-body
    .row
      .col-xs-12
        .material-input-group.material-input-group-theme-red
          label.full-width(for="0") 餐桌名称
          input.full-width(id="0" type="text" ng-model="data.tableName" ng-required="true")
    .row
      h2
      .col-xs-4(ng-repeat="type in tableTypes")
        input(ng-if="$index==0" rcs-radio type="radio" name="tableType" value="{{type}}" ng-model="data.tableType" ng-required="true" checked)
        input(ng-if="$index!=0" rcs-radio type="radio" name="tableType" value="{{type}}" ng-model="data.tableType" ng-required="true")
        | {{type}}
  .modal-footer
    .row
      .col-xs-8
        input.material-button.material-button-raised.material-theme-red.full-width(type="submit" id="submit" value="创建")
      .col-xs-4
        button.material-button.material-button-raised.full-width(ng-click="cancel()") 取消