.modal-header
  h3.modal-title 新建餐桌 位置: [{{row+1}},{{col+1}}]

.modal-body
  form(ng-submit="calcel()")
    .row
      label 餐桌名称:
      input.form-control(type="text" ng-model="data.tableName" ng-required="true")
    .row
      label 餐桌类型:
      input.form-control(type="text" ng-model="data.tableType" ng-required="true")
    .row
      input.btn.btn-danger.no-show(type="submit" id="submit" value="")
.modal-footer
    button.btn.btn-danger(ng-click="create(data.tableName, data.tableType)") 创建
    button.btn.btn-default(ng-click="cancel()") 取消
