.modal-header
  h3.modal-title Request from table "{{request.TableName}}"
.modal-body
  | Eater want to
  b {{request.Type}}
  | with
  b {{request.PayType}}
  p
  p Orders:
  ul
    li 水煮牛肉，1份
    li 鱼香肉丝，1份
    li 米饭，2份
  p Total price: ￥72
.modal-footer
  button.btn.btn-primary(ng-click="ok()", ng-class="{hidden:request.Status=='closed'}") Send Waiter
  button.btn.btn-warning(ng-click="cancel()", ng-class="{hidden:request.Status=='closed'}") Ignore
  button.btn.btn-success(ng-click="cancel()", ng-class="{hidden:request.Status!='closed'}") OK
  button.btn.btn-danger(ng-click="ok()", ng-class="{hidden:request.Status!='closed'}") Delete History
