.modal-header
  h3.modal-title 请确认支付已完成
.modal-body
  b {{request.Table.TableName}}
  sapn 餐桌应支付
  b {{request.PayAmount}}
  span 元
.modal-footer
  button.btn.btn-danger(ng-click="closeRequest()") 已付款，关闭请求
  button.btn.btn-default(ng-click="dismiss()") 取消
