.modal-header
  h3.modal-title 餐桌详情 『{{data.table.TableName}}』 (类型：{{data.tableType}})
.modal-body
  div
    | 当前状态: {{data.tableStatus}} (更新时间： {{data.tableStatusUpdateAt}})
    br
    | 关联信息: {{getLinkingInfo()}}
    br
    | 预订信息: {{getBookingInfo()}}
.modal-footer
  button.btn.btn-danger(ng-click="resetTable()") 翻桌
  button.btn.btn-danger(ng-click="cancelBooking()") 取消预订
  button.btn.btn-danger(ng-click="removeLinking()") 移除关联
  button.btn.btn-danger(ng-click="deleteTable()") 删除餐桌
  button.btn.btn-default(ng-click="cancel()") 关闭
.modal-header
  h3.modal-title(ng-class="{hidden:state.isCollapsed == true}")
    | 新建预订
  button.btn.btn-danger(ng-click="state.isCollapsed = !state.isCollapsed" ng-class="{hidden:state.isCollapsed == false}")
    h3 新建预订
.modal-body(collapse="state.isCollapsed")
  form(ng-submit="newBooking()")
    .row
      .col-md-6
        | 姓名:
        input.form-control(type="text" ng-model="data.newBookName" ng-required="true")
      .col-md-6
        | 手机:
        input.form-control(type="text" ng-model="data.newBookCell" ng-required="true")
    .row
      | 预订时间
    .row
      .col-md-6
        datepicker.well.well-sm(ng-model="data.newBookDate" min-date="minDate" show-weeks="false" ng-required="true")
      .col-md-6
        timepicker(ng-model="data.newBookTime" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian" ng-required="true")
    input.noShow(type="submit" id="submit" value="提交")
.modal-footer(collapse="state.isCollapsed")
  button.btn.btn-danger(ng-click="newBooking()") 确定
  button.btn.btn-default(ng-click="state.isCollapsed = true") 取消
