h1 创建餐厅
.row.text-center
  h2 请输入餐厅创建信息

form(ng-submit="createRestaurant(restaurantName, admins)")
  .row
    .col-lg-4.col-lg-offset-4.col-xs-8.col-xs-offset-2
      .material-input-group.material-input-group-theme-red
        label.full-width(for="restaurantName") 餐厅名称
        input.full-width(id="restaurantName" type="text" ng-model="restaurantName" ng-required="true")
  .row
    h4
    .col-lg-4.col-lg-offset-4.col-xs-8.col-xs-offset-2
      label 管理员
  .row(ng-repeat="admin in admins")
    .col-lg-4.col-lg-offset-4.col-xs-8.col-xs-offset-2
      .col-sm-3.col-xs-4
        button.material-button.material-button-raised.material-theme-red.full-width(ng-if="showPlus($index)" ng-click="addAdmin($index)")
          span.glyphicon.glyphicon-plus
        button.material-button.material-button-raised.full-width(ng-if="showMinus($index)" ng-click="removeAdmin($index)")
          span.glyphicon.glyphicon-minus
      .col-sm-9.col-xs-8(ng-if="admin.show")
        .material-input-group.material-input-group-theme-red
          //- label.full-width(for="$index") 用户邮箱
          input.full-width(id="$index" type="text" ng-model="admin.name" ng-required="true" placeholder="请输入用户邮箱")
  .row.text-center(ng-disabled="true")
    h2
    .col-lg-2.col-lg-offset-5.col-xs-4.col-xs-offset-4
      input.material-button.material-button-raised.material-theme-red.full-width(type="submit" id="submit" value="创建")
  .row.text-center
    h4
    .col-lg-2.col-lg-offset-5.col-xs-4.col-xs-offset-4
      button.material-button.material-button-raised.full-width(ng-click="cancel()") 返回

