div(id="home" layout="horizontal" layout-fill)
  material-sidenav.material-sidenav-left.material-whiteframe-z4(component-id="left" ng-click="closeSidenav()")
    material-toolbar.material-theme-light
      .material-toolbar-tools <b>餐厅管理系统</b>
    material-content(scroll-y flex)
      a(ui-sref="home.user" ui-sref-active="active")
        material-button.nav-entry
          i.fa.fa-user.fa-2x
          | 登录
      a(ui-sref="home.about" ui-sref-active="active")
        material-button.nav-entry
          i.fa.fa-info-circle.fa-2x
          | 关于
  div(layout="vertical" layout-fill)
    material-toolbar.material-theme-dark
      .material-toolbar-tools(layout="horizontal")
        material-button(hide-md ng-click="toggleSidenav()")
          span.fa.fa-th-list.fa-2x
        breadcrumb
    material-content(layout="vertical" layout-fill scroll-y)
      //- nested ui-view is not working well in jade
      <div ui-view layout="vertical" layout-fill></div>
