div(id="admin" flex layout="vertical" layout-fill)

  div.text-unselectable(layout="horizontal" layout-align="center" layout-padding)
    .pane.material-whiteframe-z3(layout="vertical" layout-align="center")

      .text-center(ng-show="adminRows == null")
        i.fa.fa-spin.fa-refresh.fa-4x
        p 同步数据...

      div(ng-show="adminRows != null")
        h3.text-center(ng-show="adminRows.length != 0") 当前管理员
        div(ng-repeat="adminRow in adminRows track by $index" layout="horizontal" layout-align="center")
          .admin(ng-repeat="admin in adminRow" layout="vertical" layout-align="center center")
            material-button.material-button-fab.material-button-raised(
              ng-click="clickRemoveAdmin(admin, $event)")
              sapn.fa.fa-user
            p {{admin.Name}}

        br
        h3.text-center 新增管理员
        material-list(id="newAdmin")
          material-item
            .material-tile-left
              material-button.material-button-raised.material-theme-light(
                ng-disabled="ifDisableAddAdmin()"
                ng-click="clickAddAdmin()")
                i.fa.fa-plus
            .material-tile-content
              material-input-group.material-input-group-theme-light
                material-input.full-width(type="email" ng-model="newAdminEmail" placeholder="用户邮箱" tabIndex="1")