h1.text-center restaurant list


//- h1 餐厅
//-   .row.text-center
//-     h2 选择餐厅
//- .row.text-center
//-   a(ng-if="isManager()==true" ui-sref="newRestaurant")
//-     u 新建餐厅
//-   span(ng-if="isManager()==false && restaurants.length==0") 未找到可管理餐厅，请联系<b>餐厅经理</b>申请管理员权限
//- .row
//-   .col-lg-4.col-lg-offset-4.col-xs-6.col-xs-offset-3
//-     material-list
//-       material-item(ng-repeat="restaurant in restaurants")
//-         .material-tile-left
//-           span.glyphicon.glyphicon-home
//-         .material-tile-content
//-           h1(ng-if="canManage(restaurant)")
//-           b {{restaurant.RestaurantName}}
//-           h1(ng-if="canManage(restaurant)")
//-         .material-tile-right
//-           button.material-button.material-button-raised.material-theme-red.full-width(
//-             style="height:2em"
//-             ng-click="selectRestaurant($index)"
//-             rcs-go-home restaurant-id="{{restaurant.id}}") <b>管理餐厅</b>
//-           div(ng-if="canManage(restaurant)")
//-             h4
//-             button.material-button.material-button-raised.full-width(
//-               style="height:2em"
//-               ng-click="selectRestaurant($index)"
//-               rcs-go-admin restaurant-id="{{restaurant.id}}") <b>分配管理员</b>