div(id="page" layout="horizontal" layout-fill)
  material-sidenav.material-sidenav-left.material-whiteframe-z4(component-id="left")
    div(layout="vertical" layout-fill)
      material-toolbar.material-theme-light
        .material-toolbar-tools <b>餐厅管理系统</b>
      material-content(flex)
        a(ng-repeat="navEntry in navEntries | filter:ifCanNav"
          ui-sref="{{navEntry.name}}" ui-sref-active="active")
          material-button.nav-entry
            i.fa.fa-2x(class="fa-{{navEntry.data.icon}}")
            | {{navEntry.data.title}}
      material-button.nav-entry.hover(ng-if="ifSignedIn()===true" ng-click="clickUser()")
        b {{getCurrentUser().Name}}
      material-button.nav-entry.hover(id="signout" ng-if="ifSignedIn()===true" ng-click="clickSignOut()")
        i.fa.fa-sign-out.fa-2x
        | 退出登录
  div(layout="vertical" layout-fill)
    material-toolbar.material-theme-dark
      .material-toolbar-tools(layout="horizontal")
        material-button(hide-md ng-click="clickToggleNav()")
          span.fa.fa-th-list.fa-2x
        breadcrumb
        div(flex)
        material-button.hover(ng-if="ifSelectedRestaurant()===true" ng-click="clickRestaurant()")
          b {{getCurrentRestaurant()}}
        material-button.hover(ng-if="ifSelectedRestaurant()===true" ng-click="clickSelectRestaurant()")
          u 返回餐厅选择
    material-content.background(layout="vertical" layout-fill scroll-y)
      //- nested ui-view is not working well in jade
      <div ui-view layout="vertical" layout-fill></div>
