div.text-unselectable(id="monitor" flex layout="vertical" layout-fill)

  .text-center.loading(ng-if="loaded == false")
      i.fa.fa-spin.fa-refresh.fa-4x
      h2 同步数据...

  div.text-unselectable(ng-if="loaded == true" layout="horizontal" layout-align="center" layout-padding)
    .pane.pane-tables.material-whiteframe-z3(id="tables" ng-controller="monitorTableCtrl")

      div.header(layout="horizontal")
        material-button.material-button-colored(flex="10" ng-click="clickToggleEditting()")
          b(ng-if="editingTable") 完成
          b(ng-if="!editingTable") 编辑
        div(flex="80" ng-switch="editingTable")
          div(ng-switch-when="false" layout="horizontal" layout-align="center")
            .rcs-table-sample.rcs-table-empty 空桌
            .rcs-table-sample.rcs-table-serving 用餐中
            .rcs-table-sample.rcs-table-paid 已结帐
            .rcs-table-sample.rcs-table-empty.rcs-table-with-book
              span 有预订
          div(ng-switch-when="true" layout="horizontal" layout-align="center")
           b 编辑餐桌
        div(flex="10")
      div(ng-repeat="tableRow in tableRows track by $index" layout="horizontal" layout-align="center")
        rcs-table(flex ng-repeat="table in tableRow track by $index")

    .pane.pane-requests.material-whiteframe-z3(id="requests" ng-controller="monitorRequestCtrl")
      material-tabs(selected="selectedIndex")
        material-tab(
          ng-class="{active:selectedIndex == $index}"
          disabled="false")
          material-tab-label
            i.fa.fa-bell
              b &nbsp;当前
        material-tab(
          ng-class="{active:selectedIndex == $index}"
          disabled="false")
          material-tab-label
            i.fa.fa-history
              b &nbsp;历史
      h3.text-center(ng-if="selectedIndex == 0 && ifHasActiveRequest()==false")
        i.fa.fa-check
        | 没有未完成请求
      material-list(ng-if="selectedIndex == 0")
        rcs-request(ng-repeat="request in requests | filter:ifUnclosed | orderBy:['-Importance','createdAt'] | limitTo: 8 track by $index")
      material-list(ng-if="selectedIndex == 1")
        rcs-request(ng-repeat="request in requests | filter:ifClosed | orderBy:'ClosedAt':true | limitTo: 8 track by $index")

    .pane.pane-waiters.material-whiteframe-z3(id="waiters" ng-controller="monitorWaiterCtrl")
      h4.text-center 在线服务员: <b>{{getOnlineWaiterCount()}}</b>
        a(ui-sref="page.management.arrangeWaiter") &nbsp;
          u 配置
      h4.text-center 空闲服务员: <b>{{getFreeWaiterCount()}}</b>
      material-item.list-header
        .material-tile-content
        .material-tile-right
      material-item.list-items(ng-repeat="waiter in waiters | filter:ifOnline" ng-click="clickToggleBusy(waiter)")
        .material-tile-content {{waiter.Name}}
        .material-tile-right
          material-button.hover
            span.free(ng-show="waiter.Busy == false") 空闲
            i.fa.fa-spin.fa-circle-o-notch(ng-show="waiter.Busy == true")
            span(ng-show="waiter.Busy == true") 忙碌