material-item.rcs-request(
  ng-class="{'rcs-request-important':importanceHigh()}"
  tooltip-placement="left"
  tooltip-popup-delay="100"
  tooltip-html-unsafe="{{getTooltip()}}")
  .material-tile-left
    b.pull-left.glyphicon.glyphicon-usd(ng-if="request.Type==requestType.pay")
    b.pull-left.glyphicon.glyphicon-earphone(ng-if="request.Type==requestType.call")
    b.pull-left.glyphicon.glyphicon-tint(ng-if="request.Type==requestType.water")
  .material-tile-content
    span.<b>{{request.Table.TableName}}</b> {{getRequestText()}}
  .material-tile-right
    span {{request.Status}}
//- div(ng-class="{'progress progress-striped active':isInProgress()}" style="height: 40px;")
  button(role="progressbar" ng-class="{'btn-request-important':importanceHigh(), 'btn-request':importanceNormal(), 'progress-bar':isInProgress()}")
    b.pull-left.glyphicon.glyphicon-usd(ng-if="request.Type==requestType.pay")
    b.pull-left.glyphicon.glyphicon-earphone(ng-if="request.Type==requestType.call")
    b.pull-left.glyphicon.glyphicon-tint(ng-if="request.Type==requestType.water")
    span.pull-left.force-wrap &nbsp;<b>{{request.Table.TableName}}</b> {{getRequestText()}}