material-item.rcs-request(
  ng-class="{'rcs-request-important':isImportant()}"
  tooltip-placement="left"
  tooltip-popup-delay="100"
  tooltip-html-unsafe="{{getTooltip()}}")
  .material-tile-left
    b.pull-left.glyphicon.glyphicon-usd(ng-if="request.Type==requestType.pay")
    b.pull-left.glyphicon.glyphicon-user(ng-if="request.Type==requestType.call")
    b.pull-left.glyphicon.glyphicon-tint(ng-if="request.Type==requestType.water")
    b.pull-left.glyphicon.glyphicon-th-list(ng-if="request.Type==requestType.order")
  .material-tile-content
    span.<b>{{request.Table.TableName}}</b> {{getRequestText()}}
  .material-tile-right
    span(ng-show="request.Status=='new'")
    //- using ng-class below to make fa-spin to disappear at the right moment
    span(ng-show="request.Status=='inProgress'" ng-class="{'fa fa-spinner fa-spin fa-2x':request.Status=='inProgress'}")
    span.fa.fa-check-square-o.fa-2x(ng-show="request.Status=='closed'")