h1 餐厅
  .row.text-center
    h2 选择餐厅
.row.text-center
  a(ng-if="isManager()==true" ui-sref="newRestaurant")
    u 新建餐厅
  span(ng-if="isManager()==false && restaurants.length==0") 未找到可管理餐厅，请联系<b>餐厅经理</b>申请管理员权限
.row
  .col-lg-4.col-lg-offset-4.col-xs-6.col-xs-offset-3
    material-list
      material-item(ng-repeat="restaurant in restaurants")
        .material-tile-left
          span.glyphicon.glyphicon-home
        .material-tile-content
          h1(ng-if="canManage(restaurant)")
          b {{restaurant.RestaurantName}}
          h1(ng-if="canManage(restaurant)")
        .material-tile-right
          button.material-button.material-button-raised.material-theme-red.full-width(
            style="height:2em"
            ng-click="selectRestaurant($index)"
            rcs-go-home restaurant-id="{{restaurant.id}}") <b>管理餐厅</b>
          div(ng-if="canManage(restaurant)")
            h4
            button.material-button.material-button-raised.full-width(
              style="height:2em"
              ng-click="selectRestaurant($index)"
              rcs-go-admin restaurant-id="{{restaurant.id}}") <b>分配管理员</b>
    //- .btn-group.full-width(dropdown is-open="status.isopen")
      button.btn.btn-default.dropdown-toggle.full-width(type="button", ng-disabled="disabled")
        .row
          .col-xs-6.text-left {{getDrowdownText()}}
          .col-xs-6.text-right
            span.caret
      ul.dropdown-menu.full-width(role="menu")
        li(ng-repeat="restaurant in restaurants")
          a(ng-click="selectRestaurant($index)") {{restaurant.RestaurantName}}
        li.divider(ng-if="isManager()")
        li(ng-if="isManager()")
          a(rcs-go-new-restaurant) 新建餐厅

  //- div(ng-if="currentRestaurant")
    .col-lg-2.col-lg-offset-0.col-xs-4.col-xs-offset-4
      button.material-button.material-button-raised.material-theme-red.full-width(rcs-go-home) 管理餐厅
    .col-lg-2.col-lg-offset-0.col-xs-4.col-xs-offset-4
      button.material-button.material-button-raised.material-theme-red.full-width(ng-if="isManager()" rcs-go-admin) 分配管理员
  //- div(ng-if="!currentRestaurant && isManager()")
    .col-lg-2.col-lg-offset-0.col-xs-4.col-xs-offset-4
      button.material-button.material-button-raised.material-theme-red.full-width(rcs-go-new-restaurant) 新建餐厅
//- .row
//-   .col-lg-2.col-lg-offset-6.col-xs-4.col-xs-offset-4
//-     button.material-button.material-button-raised.full-width(rcs-logout)
//-       span.glyphicon.glyphicon-off &nbsp;退出登录


