h1 餐厅
  .row.text-center
    h2 选择餐厅
  .row
    .col-lg-4.col-lg-offset-2.col-xs-8.col-xs-offset-2
      .btn-group.full-width(dropdown is-open="status.isopen")
        button.btn.btn-default.dropdown-toggle.full-width(type="button", ng-disabled="disabled")
          .row
            .col-xs-6.text-left {{getDrowdownText()}}
            .col-xs-6.text-right
              span.caret
        ul.dropdown-menu.full-width(role="menu")
          li(ng-repeat="restaurant in restaurants")
            a(ng-click="selectRestaurant($index)") {{restaurant.RestaurantName}}
          li.divider(ng-if="isManager()")
          li(ng-if="isManager()")
            a(rcs-go-new-restaurant) 新建餐厅

    div(ng-if="currentRestaurant")
      .col-lg-2.col-lg-offset-0.col-xs-4.col-xs-offset-4
        button.btn.btn-danger.full-width(rcs-go-home) 管理餐厅
      .col-lg-2.col-lg-offset-0.col-xs-4.col-xs-offset-4
        button.btn.btn-danger.full-width(ng-if="isManager()" rcs-go-admin) 分配管理员
    div(ng-if="!currentRestaurant && isManager()")
      .col-lg-2.col-lg-offset-0.col-xs-4.col-xs-offset-4
        button.btn.btn-danger.full-width(rcs-go-new-restaurant) 新建餐厅
  .row
    .col-lg-2.col-lg-offset-6.col-xs-4.col-xs-offset-4
      button.btn.btn-default.full-width(rcs-logout)
        span.glyphicon.glyphicon-off &nbsp;退出登录


