h1 注册
.row.text-center
  h2 请注册餐厅管理系统

form(ng-submit="signup(info.email, info.pwd, info.pwdConfirm, info.selectedRole, info.key)")
  .row
    .col-lg-4.col-lg-offset-4.col-xs-8.col-xs-offset-2
      .material-input-group.material-input-group-theme-red
        label.full-width(for="0") 注册邮箱
        input.full-width(id="0" type="text" ng-model="info.email" ng-required="true")
  .row
    .col-lg-4.col-lg-offset-4.col-xs-8.col-xs-offset-2
      .material-input-group.material-input-group-theme-red
        label.full-width(for="1") 密码
        input.full-width(id="1" type="password" ng-model="info.pwd" ng-required="true")
  .row
    .col-lg-4.col-lg-offset-4.col-xs-8.col-xs-offset-2
      .material-input-group.material-input-group-theme-red
        label.full-width(for="2") 请确认密码
        input.full-width(id="2" type="password" ng-model="info.pwdConfirm" ng-required="true")
  .row
    .col-lg-4.col-lg-offset-4.col-xs-8.col-xs-offset-2
      h4
      label 用户类型
  .row
    .col-lg-4.col-lg-offset-4.col-xs-8.col-xs-offset-2
      .row
        .col-xs-12(ng-repeat="role in roles")
          input(ng-if="$index==0" rcs-radio type="radio" name="userRole" value="{{role.value}}" ng-model="info.selectedRole" ng-required="true" checked)
          input(ng-if="$index!=0" rcs-radio type="radio" name="userRole" value="{{role.value}}" ng-model="info.selectedRole" ng-required="true")
          | {{role.name}}
  .row(ng-if="info.selectedRole=='manager'")
    h4
    .col-lg-4.col-lg-offset-4.col-xs-8.col-xs-offset-2
      .material-input-group.material-input-group-theme-red
        label.full-width(for="3") 注册码 (input 'key' for test)
        input.full-width(id="3" type="text" ng-model="info.key" ng-required="true")
  .row.text-center
    h2
    .col-lg-2.col-lg-offset-5.col-xs-4.col-xs-offset-4
      input.material-button.material-button-raised.material-theme-red.full-width(type="submit" id="submit" value="注册" style="height:3em")
  .row.text-center
    h4
    .col-lg-2.col-lg-offset-5.col-xs-4.col-xs-offset-4
      button.material-button.material-button-raised.full-width(rcs-go-back style="height:3em")

