div(test-div)
  h2 Test
  h4 User
  button.btn.btn-default(ng-click="loginAdmin()") loginAdmin
  button.btn.btn-default(ng-click="loginManager()") loginManager
  button.btn.btn-default(ng-click="logout()") logout
  button.btn.btn-default(ng-click="create()") create
  h4 Restaurant
  button.btn.btn-default(ng-click="listRestaurant()") listRestaurant
  button.btn.btn-default(ng-click="createRestaurant()") createRestaurant
  button.btn.btn-default(ng-click="addAdmin()") addAdmin
  