<div class="page-header">
    <h1>Restaurant List</h1>
</div>
<!-- <button ng-if="!isFullscreen" style="font-size: 30px" type="button" ng-click="goFullscreen()">Go fullscreen to view the page</button> -->
<!-- <div ng-if="isFullscreen" resizable ng-init="checkFullscreen()"> -->
    <div class="row">
        <div class="col-xs-7">
            <input type="text" class="form-control" ng-model="query" placeholder="Search for a restaurant" />
    </div>
    <div class="row">
        <div class="col-xs-12"></div>
    </div>
    <div class="row" ng-switch on="restaurants.length">
        <ul ng-switch-when="0">
            <li>
                <em>
                    No restaurants . Would you like to
                    <a href="#/newRestaurant">create one</a>?
            </li>
        </ul>
        <ul ng-switch-default>
            <table border="1">
                <td>Name</td>
                <td />
                <tr ng-repeat="restaurant in restaurants | filter:query">
                    <td><a href="#/listTables/{{restaurant.Name}}"> {{restaurant.Name}}</a></td>
                    <td><button class="btn btn-danger" ng-click="deleteRestaurant(restaurant.Name)">-</button></td>
                </tr>
            </table>
        </ul>
    </div>
    <div class="row">
        <div class="col-xs-12"><hr ></div>
    </div>
    <div class="row">
        <div class="col-xs-5">
            <a href="#/newRestaurant" class="btn btn-default">
                <span class="glyphicon glyphicon-plus"></span> New Restaurant
            </a>
        </div>
    </div>

    <p>&nbsp;</p>
<!-- </div> -->