<div class="container">
  <div class="jumbotron">
    <h1>RCS</h1>
    <!-- <a href="/User/new" class="btn btn-lg btn-success">Sign up now!</a> -->
    <a href="#/" class="btn btn-lg btn-success">Angular</a>
    <a href="#/table" class="btn btn-lg btn-success">Table</a>
    <a href="#/request" class="btn btn-lg btn-success">Request</a>
  </div>
</div>

<div class="container" ng-app='rcs'>
  <div ui-view>
  </div>
</div>