.modal-header
  h3.modal-title
    | Comfirm to
    b close
    | the {{request.PayType}} request?
.modal-body
  | Please make sure you have
  b received the payment
  | :
  p
  p Table Name: {{request.TableName}}
  p
    | Total price:
    b ￥72
.modal-footer
  button.btn.btn-success(ng-click="ok()") Payment received, close
  button.btn.btn-danger(ng-click="cancel()") Payment not received
