div(ng-class="{'progress progress-striped active':request.Status=='inProgress'}", style="height: 40px; width: 100%;")
  button(role="progressbar", ng-class="{'btn-request-important':importanceHigh(request) , 'btn-request':importanceNormal(request), 'progress-bar':request.Status=='inProgress'}", ng-click="openRequest(request)")
    i.pull-left(ng-class="{'glyphicon glyphicon-usd':request.Type=='pay'}")
    span.pull-left.force-wrap
      b 『{{request.TableName}}』
      | {{getPayTypeText(request)}}