div(test-div-parent)
  button.btn(rcsGoBack) rcsGoBack
  //- h2 {{title}}
  //- button(ng-click="setTitle()") Set Title
  //- div(test-div-child)
  //-   h4 {{title}}
  //-   button(ng-click="setTitleChild()") Set Title Child
  button.btn.btn-danger(type="button" ng-click="gotoAdmin()") gotoAdmin
