<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/">Home</a>
  </div>
</div>

<div class="container">
  <div class="jumbotron">
    <h1>RCS</h1>
    <!-- <a href="/User/new" class="btn btn-lg btn-success">Sign up now!</a> -->
    <a href="/Table/list" class="btn btn-lg btn-success">Table</a>
    <a href="/Request/list" class="btn btn-lg btn-success">Request</a>
  </div>
</div>