#dialog-delete *,
#dialog-viewRequestOrder material-list,
#dialog-viewRequestOrder material-button,
#dialog-confirmPayment material-list,
#dialog-confirmPayment material-button,
#dialog-createTable material-list,
#dialog-createTable material-button,
#dialog-manageTable material-list,
#dialog-manageTable material-button,
#dialog-editMenuType material-button,
#dialog-editMenuFlavor material-button,
#dialog-editFlavorRequirements material-button {
  font-size: 18px;
}

#dialog-delete material-button,
#dialog-editMenuType material-button,
#dialog-editMenuFlavor material-button,
#dialog-editFlavorRequirements material-button {
  width: 100%;
  margin-left: 5px;
  margin-right: 5px;
}

#dialog-viewRequestOrder,
#dialog-confirmPayment,
#dialog-createTable {
  width: 350px;
}

#dialog-viewRequestOrder .material-tile-left,
#dialog-confirmPayment .material-tile-left,
#dialog-createTable .material-tile-left {
  width: 80px;
}

#dialog-viewRequestOrder .list-header .material-tile-content,
#dialog-viewRequestOrder .list-header .material-tile-left,
#dialog-viewRequestOrder .list-header .material-tile-right,
#dialog-confirmPayment .list-header .material-tile-content,
#dialog-confirmPayment .list-header .material-tile-left,
#dialog-confirmPayment .list-header .material-tile-right,
#dialog-manageTable .list-header .material-tile-content,
#dialog-manageTable .list-header .material-tile-left,
#dialog-manageTable .list-header .material-tile-right {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #8A1717;
}

#dialog-createTable .material-input-group,
#dialog-manageTable .material-input-group {
  margin: 0;
}

#dialog-createTable .material-tile-content input {
  width: 100%;
}

#dialog-createTable .material-tile-content,
#dialog-manageTable #newBook .material-tile-content {
  border-bottom: none;
  padding: 0;
  padding-top: 5px;
}

#dialog-createTable .dialog-content,
#dialog-editMenuType .dialog-content,
#dialog-editMenuFlavor .dialog-content,
#dialog-editFlavorRequirements .dialog-content,
#dialog-manageTable .dialog-content {
  overflow: visible;
}

#dialog-editMenuFlavor .dialog-content,
#dialog-editFlavorRequirements .dialog-content,
#dialog-manageTable .dialog-content {
  overflow-y: scroll;
}

#dialog-manageTable .dialog-actions {
  min-height: 40px;
  margin-bottom: 5px;
}

#dialog-manageTable {
  width: 500px;
  margin-top: 80px;
}

#dialog-manageTable .material-tile-left {
  width: 120px;
}

#dialog-manageTable .dialog-content {
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

#dialog-manageTable material-tabs .material-ink-ripple {
  color: #fff
}

#dialog-manageTable material-tab {
  background-color: #D3CFCA;
}

#dialog-manageTable material-tab.active {
  background-color: #8A1717;
}

#dialog-manageTable material-tab-label {
  font-weight: bold;
  color: #818181;
  font-size: 16px;
}

#dialog-manageTable material-tab-label.active {
  color: #f1f1f1;
}

#dialog-manageTable material-item {
  margin-left: 5px;
  margin-right: 5px;
}

#dialog-manageTable .material-tile-content .material-input-group input {
  width: 260px;
}

#dialog-manageTable .btn-link {
  color: #8A1717;
}

#dialog-manageTable .btn-info {
  background: #8A1717;
  color: #fff;
  border-color: #8A1717;
}

#dialog-manageTable .text-info {
  font-style: italic
}

#dialog-manageTable .btn-info .text-info {
  color: #fff;
}

#dialog-manageTable td,
#dialog-manageTable th {
  padding: 1px;
}

#dialog-manageTable .well {
  background-image: none;
  background: transparent;
  border: none;
  margin-bottom: 0;
  padding: 0;
}

#dialog-manageTable table {
  width: 0;
  margin-bottom: 0;
}

#dialog-manageTable .form-control {
  border: none;
  border-radius: initial;
}

#dialog-manageTable .form-control:focus {
  border: none;
  box-shadow: none;
  border-bottom: 2px solid #8A1717;
}

#dialog-editMenuType material-radio-button {
  margin: 0px;
  margin-left: 10px;
}

#dialog-editMenuFlavor .material-tile-left material-button,
#dialog-editFlavorRequirements .material-tile-left material-button {
  width: 40px;
  font-size: 20px;
}

#dialog-editMenuFlavor .material-tile-content *,
#dialog-editFlavorRequirements .material-tile-content * {
  font-size: 16px;
}

#dialog-editMenuFlavor .material-tile-content span,
#dialog-editFlavorRequirements .material-tile-content span {
  font-weight: bold;
}

#dialog-editMenuFlavor .material-tile-content input,
#dialog-editFlavorRequirements .material-tile-content input {
  border-color: #8A1717;
  border-bottom-width: 2px;
}