#monitor .pane {
  min-height: 800px;
  max-height: 800px;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 40px;
  font-size: 18px;
  background-color: #ffffff;
}

#monitor .loading {
  margin-top: 20px;
}

#monitor .pane-tables {
  width: 700px;
}

#monitor .pane-requests {
  width: 285px;
  margin-left: 15px;
}

#monitor .pane-waiters {
  width: 200px;
  margin-left: 10px;
}

#monitor .tooltip {
  width: 165px;
  height: 120px;
  text-align: left;
}

#monitor .tooltip * {
  opacity: 0.9;
}

#monitor .rcs-tooltip {
  font-size: 16px;
}

#tables .header {
  height: 30px;
  margin-top: 5px;
  margin-bottom: 10px;
}

#tables .header material-button{
  line-height: 22px;
}

#tables .rcs-table-sample {
  height: 30px;
  line-height: 30px;
  width: 60px;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}

#tables .rcs-table-sample.rcs-table-with-book > span {
  position: relative;
  font-size: 16px;
  top: -8px;
  height: 0;
  width: 100%;
}

#tables rcs-table {
  height: 60px;
  max-width: 60px;
  margin: 5px;
}

#tables .rcs-table {
  height: 100%;
  width: 100%;
  padding: 0;
  cursor: pointer;
  text-align: center;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}

#tables .rcs-table > .rcs-table-mark {
  position: relative;
  font-size: 16px;
  top: 12px;
}

#tables .rcs-table > .rcs-table-text {
  position: absolute;
  font-size: 16px;
  top: 38px;
  height: 0;
  width: 100%;
}

#tables .rcs-table-empty {
  background-color: #e4e0d8;
  color: #000;
}

#tables .rcs-table-serving{
  background-color: #8a1717;
  color: #fff;
}

#tables .rcs-table-paid{
  background-color: #cba353;
  color: #fff;
}

#tables .rcs-table-null {
  background-color: transparent;
  cursor: default;
}

#tables .rcs-table-null canvas.material-ink-ripple {
  visibility: hidden
}

#tables .rcs-table-create {
  background-color: transparent;
}

#tables .rcs-table-create:hover {
  background-color: #93b0ba;
}

#tables .rcs-table-with-book {
  border-top: 8px solid #93b0ba;
}

#tables .rcs-table-with-book > .rcs-table-mark {
  top: 4px;
}

#tables .rcs-table-with-book > .rcs-table-text {
  top: 30px;
}

#requests material-tabs .material-ink-ripple {
  color: #f1f1f1
}

#requests material-tab {
  background-color: #D3CFCA;
}

#requests material-tab.active {
  background-color: #E5E0D8;
}

#requests material-tab-label {
  color: #818181;
  font-size: 18px;
}

#requests material-tab.active material-tab-label {
  font-weight: bold;
  color: #8A1717;
}

#requests material-tab-label.active {
  color: #f1f1f1;
}

#requests .tabs-header {
  background-color: #8A1717;
}

#requests material-ink-bar {
  height: 5px;
  background: #8A1717;
  position: absolute;
  margin-top: -5px;
  width: 50% !important;
}

#requests .rcs-request {
  cursor: pointer;
}

#requests .rcs-request:hover {
  color: #8a1717;
}

#requests .rcs-request:hover .material-tile-content > h2 {
  font-weight: bold;
}

#requests .rcs-request .material-tile-left {
  text-align: center;
}

#requests .rcs-request .material-tile-left .fa {
  font-size: 28px;
}

#requests .rcs-request .fa-flag {
  color: #8a1717;
  font-size: 28px;
}

#requests .rcs-request .material-tile-right .fa-spinner {
  color: #8a1717;
}

#waiters a {
  color: #8A1717;
}

#waiters .list-header .material-tile-content,
#waiters .list-header .material-tile-right {
  padding-top: 0px;
  padding-bottom: 0px;
  border-bottom: 2px solid #8A1717;
}

#waiters span.free {
  font-weight: bold;
  color: #8A1717;
}

#waiters .list-items {
  cursor: pointer;
}

#waiters .list-items:hover {
  color: #8a1717;
}

#waiters .list-items:hover .material-tile-content {
  font-weight: bold;
}

#waiters .fa-circle-o-notch {
  margin-right: 5px;
}