#author .pane {
  min-height: 200px;
  width: 750px;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 40px;
  font-size: 18px;
  display: inherit;
}

#author .header material-button {
  height: 40px;
  width: 30px;
  font-size: 20px;
  margin-left: 5px;
}

#author .header input {
  border-color: #4285f4;
  border-bottom-width: 2px;
  height: 30px;
  padding: 0;
  margin-left: 5px;
}

#author material-tabs .material-ink-ripple {
  color: #fff
}

#author material-tab {
  background-color: #e6e6e6;
}

#author material-tab.active {
  background-color: #4285f4;
}

#author material-tab-label {
  font-weight: bold;
  color: #818181;
  font-size: 18px;
  text-transform: none;
}

#author material-tab-label.active {
  color: #f1f1f1;
}

#author .material-tile-left material-button {
  width: 40px;
  font-size: 20px;
}

#author .material-tile-right material-button {
  font-size: 18px;
}

#author .material-tile-content.title {
  font-size: 16px;
}

#author .material-tile-content input {
  margin-right: 10px;
}

#author .material-tile-content input[disabled] {
  font-weight: bold;
}

#author .material-tile-content input:focus,
#author .material-tile-content input.dirty {
  border-color: #4285f4;
  border-bottom-width: 2px;
}