#page material-button.nav-entry {
  cursor: pointer;
  line-height: 40px;
  max-height: 40px;
  text-align: left;
  width: 100%;
  padding-left: 40px;
}

#page material-content.background {
  background-color: #f8f4ee;
}

#page material-toolbar.material-theme-light {
  background-color: #E5E0D8 !important;
  color: #606060 !important;
}

#page material-toolbar.material-theme-dark {
  background-color: #D3CFCA !important;
  color: #606060 !important;
}

#page material-button.nav-entry .fa {
  width: 40px;
  text-align: center;
}

#page material-button.nav-entry span,
#page material-button.nav-entry b {
  font-size: 18px;
}

#page .active material-button.nav-entry {
  font-weight: bold;
}

/*.active material-button.nav-entry::before {
  content: ">";
  font-size: 20px;
  font-family: 'Comic Sans MS', 'Segoe UI', Calibri, sans-serif;
}*/

#page .breadcrumb {
  background: transparent;
  margin-bottom: 0px;
}

#page .breadcrumb > .active {
  color: inherit;
}

#page .breadcrumb > li + li:before {
  color: #606060;
}

#page material-sidenav {
  min-width: 220px;
  max-width: 220px;
}

#page .material-toolbar-tools material-button {
  font-size: 18px;
}

#page #signout {
  margin-bottom: 20px;
}

material-toast.rcs.right {
  font-size: 18px;
  right: 30px;
  width: 50%;
  z-index: 10;
}