html {
  overflow: hidden;
}

body *
{
   font-family: "Microsoft YaHei", Helvetica, Arial, sans-serif;
}

.font-en
{
   font-family: 'Comic Sans MS', 'Segoe UI', Calibri, sans-serif;
}

.full-width {
  width: 100%;
}

.text-unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.fa.right-conner {
  float: right;
  position: relative;
  left: 10px;
  top: 10px;
}

.material-button-fab.right-conner {
  float: right;
  position: relative;
  left: 40px;
  top: -25px;
}

.material-tile-content {
  margin-right: 0px;
}