body *
{
   font-family: "Microsoft YaHei", Helvetica, Arial, sans-serif;
}

.font-en
{
   font-family: 'Comic Sans MS', 'Segoe UI', Calibri, sans-serif;
}

material-button.nav-entry {
  cursor: pointer;
  line-height: 40px;
  max-height: 40px;
  text-align: left;
  width: 100%;
  padding-left: 40px;
}

material-button.nav-entry .fa-2x+span {
  font-size: 18px;
}

.active material-button.nav-entry {
  font-weight: bold;
}

.active material-button.nav-entry::before {
  content: ">";
  font-size: 20px;
  font-family: 'Comic Sans MS', 'Segoe UI', Calibri, sans-serif;
}

.breadcrumb {
  background: transparent;
  margin-bottom: 0px;
}

.breadcrumb > .active {
  color: inherit;
}

/*material-content[layout-fill] .material-content {
  height: 95%;
}*/

.full-width {
  width: 100%;
}

/*.rcs-theme-red {
  background-color: #8a1717 !important;
  color: #f1f1f1 !important;
  border-color: #8a1717 !important;
}

.rcs-theme-dark {
  background-color: #e6e6e6 !important;
  color: #111111 !important;
}

.rcs-theme-light {
  background-color: #f9f9f9 !important;
  color: #111111 !important;
}
*/
/*.rcs-theme-yellow {
  background-color: #cba353;
  color: #f1f1f1;
}*/